#hamburger{
	display:none;
 }

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
	ul {
		padding: 5px;

	}


	/* (A) BREAK INTO VERTICAL MENU */
	#hamitems a {
	  box-sizing: border-box;
	  display: block;
	  width: 100%;
	  /* border-top: 1px solid #333; */
	}
   
	/* (B) SHOW HAMBURGER ICON */
	#hamnav label { 
	  display: inline-block; 
	  color: white;
	  background: gray;
	  font-style: normal;
	  font-size: 1.2em;
	  padding: 15px;
	}
  
	/* (C) TOGGLE SHOW/HIDE MENU */
	#hamitems { 
		display: none; 
	}
	#hamnav input:checked ~ #hamitems { 
		display: block; 
	}
  }

  #gallery li img {
	float: left;
    width:  200px;
    height: 200px;
    object-fit: cover;
}
  #gallery li img:hover {
	transform:scale(1.25);
  }

@media screen and (min-width: 769px) {
	 #hambuger-button{
		display: none;
	  }
 
	/********************
	HEADER
	********************/
	/* nav {
		text-align: center;
		padding: 10px 0;
		margin: 20px 0 0;
	} */
	nav {
		text-align: center;
		padding: 10px 0;
		margin: 20px 0 0;
		background: none;
		float: right;
		font-size: 1.125em;
		margin-right: 5%;
		text-align: right;
		width: 45%;
	}
	/********************
	NAVIGATION
	********************/



	nav ul {
		list-style: none;
		margin: 0 10px;
		padding: 0;
	}

	nav li {
		display: inline-block;
	}

	nav a {
		font-weight: 800;
		padding: 15px 10px;
	}
	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 45%;
	}
	
	h1 {
		font-size: 2.5em;
	}
	
	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}
	
	header {
		border-bottom: 5px solid #198C8C;
		margin-bottom: 60px;
	}

	#gallery li img {
		float: left;
		width:  500px;
		height: 500px;
		object-fit: cover;
	}
	
	
}